In [2]:
# Dependencies
import pandas as pd

In [3]:
# load CSV
file = "Resources/2016-FCC-New-Coders-Survey-Data.csv"

In [25]:
# Read with pandas
df = pd.read_csv(file)
df.head()

C:\Users\mahdi\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (21,57) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampMonthsAgo,BootcampName,BootcampPostSalary,BootcampRecommend,ChildrenNumber,...,ResourceSoloLearn,ResourceStackOverflow,ResourceTreehouse,ResourceUdacity,ResourceUdemy,ResourceW3Schools,ResourceYouTube,SchoolDegree,SchoolMajor,StudentDebtOwe
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,20000.0
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,"some college credit, no degree",NaN,NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,high school diploma or equivalent (GED),NaN,NaN
3,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bachelor's degree,Cinematography And Film,7000.0
4,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,NaN

In [7]:
# Inspect all columns
df.columns

Index(['Age', 'AttendedBootcamp', 'BootcampFinish', 'BootcampFullJobAfter',
       'BootcampLoanYesNo', 'BootcampMonthsAgo', 'BootcampName',
       'BootcampPostSalary', 'BootcampRecommend', 'ChildrenNumber',
       ...
       'ResourceSoloLearn', 'ResourceStackOverflow', 'ResourceTreehouse',
       'ResourceUdacity', 'ResourceUdemy', 'ResourceW3Schools',
       'ResourceYouTube', 'SchoolDegree', 'SchoolMajor', 'StudentDebtOwe'],
      dtype='object', length=113)

In [89]:
# Extract only columns 0, 1, 2, 3, 4, 7, 8, 9, 10,11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111

new_df = df.iloc[:, [0, 1, 2, 3, 4, 7, 8, 9, 10,11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111]]
new_df.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventBootcamp,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,office and administrative support,Employed for wages,male,0.0,30.0,32000.0,NaN,"some college credit, no degree",NaN
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,food and beverage,Employed for wages,male,NaN,30.0,15000.0,Front-End Web Developer,"some college credit, no degree",NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,finance,Employed for wages,male,NaN,20.0,48000.0,NaN,high school diploma or equivalent (GED),NaN
3,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,"arts, entertainment, sports, or media",Employed for wages,female,NaN,20.0,43000.0,Front-End Web Developer,bachelor's degree,Cinematography And Film
4,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,education,Employed for wages,female,NaN,25.0,6000.0,Full-Stack Web Developer,"some college credit, no degree",NaN

In [32]:
# Change "0" to "No" and "1" to "Yes" in response columns
new_df = new_df.replace({0.0: 'No', 1.0: 'Yes'})
new_df.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventBootcamp,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,CodeEventBootcamp
0,28.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,office and administrative support,Employed for wages,male,No,30,32000.0,NaN,"some college credit, no degree",NaN
1,22.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,food and beverage,Employed for wages,male,NaN,30,15000.0,Front-End Web Developer,"some college credit, no degree",NaN
2,19.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,finance,Employed for wages,male,NaN,20,48000.0,NaN,high school diploma or equivalent (GED),NaN
3,26.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,"arts, entertainment, sports, or media",Employed for wages,female,NaN,20,43000.0,Front-End Web Developer,bachelor's degree,NaN
4,20.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,education,Employed for wages,female,NaN,25,6000.0,Full-Stack Web Developer,"some college credit, no degree",NaN
5,34.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,finance,Self-employed freelancer,male,NaN,5,40000.0,NaN,bachelor's degree,NaN
6,23.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,Singapore,software development,Employed for wages,male,NaN,8,32000.0,NaN,bachelor's degree,NaN
7,35.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United Kingdom,office and administrative support,Employed for wages,male,No,NaN,40000.0,NaN,master's degree (non-professional),NaN
8,33.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,software development,Employed for wages,male,NaN,5,80000.0,NaN,bachelor's degree,NaN
9,33.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,NaN,Employed for wages,male,NaN,20,80000.0,NaN,master's degree (non-professional),NaN
10,57.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"less than 100,000",NaN,United States of America,NaN,Self-employed business owner,male,No,8,20000.0,NaN,bachelor's degree,NaN
11,23.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,Bangladesh,NaN,Not working and not looking for work,male,NaN,5,NaN,NaN,"some college credit, no degree",NaN
12,47.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,Canada,health care,Employed for wages,male,NaN,5,90000.0,NaN,bachelor's degree,NaN
13,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,software development,Employed for wages,male,NaN,5,NaN,NaN,bachelor's degree,NaN
14,37.0,No,NaN,NaN,NaN,NaN,NaN,Yes,"between 100,000 and 1 million",NaN,Bosnia & Herzegovina,sales,Self-employed business owner,male,Yes,2,NaN,NaN,"some college credit, no degree",NaN
15,31.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,Russia,software development,Employed for wages,female,NaN,10,NaN,NaN,"professional degree (MBA, MD, JD, etc.)",NaN
16,27.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,software development,Employed for wages,female,NaN,4,80000.0,NaN,bachelor's degree,NaN
17,29.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"less than 100,000",NaN,United States of America,education,Employed for wages,male,NaN,5,17000.0,NaN,bachelor's degree,NaN
18,30.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,Canada,software development,Self-employed freelancer,male,NaN,2,16000.0,NaN,bachelor's degree,NaN
19,30.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"less than 100,000",NaN,Croatia,NaN,Not working but looking for work,male,No,20,NaN,Full-Stack Web Developer,"some college credit, no degree",NaN
20,32.0,No,NaN,NaN,NaN,NaN,NaN,Yes,more than 1 million,NaN,United States of America,NaN,Employed for wages,female,Yes,5,200000.0,Full-Stack Web Developer,master's degree (non-professional),NaN
21,25.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,NaN,Doing an unpaid internship,female,NaN,NaN,NaN,NaN,bachelor's degree,NaN
22,29.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,"arts, entertainment, sports, or media",Employed for wages,female,No,10,100000.0,NaN,bachelor's degree,NaN
23,44.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,office and administrative support,Employed for wages,female,No,30,41000.0,NaN,bachelor's degree,NaN
24,21.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,India,NaN,Not working but looking for work,male,NaN,25,NaN,NaN,bachelor's degree,NaN
25,21.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,NaN,Not working but looking for work,male,NaN,25,NaN,Full-Stack Web Developer,"some college credit, no degree",NaN
26,28.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"less than 100,000",NaN,South Africa,NaN,Self-employed freelancer,male,No,Yes,12000.0,NaN,high school diploma or equivalent (GED),NaN
27,28.0,No,NaN,NaN,NaN,NaN,NaN,2,more than 1 million,NaN,United States of America,software development,Employed for wages,male,Yes,10,60000.0,NaN,"trade, technical, or vocational training",NaN
28,25.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,software development,Employed for wages,male,NaN,10,75000.0,Full-Stack Web Developer,bachelor's degree,NaN
29,35.0,No,NaN,NaN,NaN,NaN,NaN,Yes,"less than 100,000",NaN,United Kingdom,software development,Employed for wages,male,Yes,5,35000.0,NaN,master's degree (non-professional),NaN
30,24.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,NaN,Doing an unpaid internship,female,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN
31,23.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,Venezuela,NaN,A stay-at-home parent or homemaker,male,NaN,20,NaN,Full-Stack Web Developer,"some college credit, no degree",NaN
32,34.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,NaN,Doing an unpaid internship,male,NaN,20,NaN,Full-Stack Web Developer,bachelor's degree,NaN
33,18.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"less than 100,000",NaN,United States of America,NaN,Employed for wages,female,NaN,10,6000.0,Front-End Web Developer,high school diploma or equivalent (GED),NaN
34,33.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"less than 100,000",NaN,United States of America,health care,Employed for wages,female,NaN,15,40000.0,NaN,bachelor's degree,NaN
35,28.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,Brazil,office and administrative support,Employed for wages,male,NaN,7,6500.0,NaN,high school diploma or equivalent (GED),NaN
36,33.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,NaN,Self-employed freelancer,male,No,20,60000.0,Full-Stack Web Developer,high school diploma or equivalent (GED),NaN
37,26.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"less than 100,000",NaN,United States of America,finance,Employed for wages,male,NaN,3,29000.0,NaN,"some college credit, no degree",NaN
38,24.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,South Africa,software development,Employed for wages,male,NaN,10,10000.0,NaN,bachelor's degree,NaN
39,39.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,law enforcement and fire and rescue,Employed for wages,male,NaN,25,53000.0,Full-Stack Web Developer,associate's degree,NaN
40,24.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,Brazil,NaN,Not working but looking for work,male,NaN,10,NaN,Full-Stack Web Developer,high school diploma or equivalent (GED),NaN
41,34.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"less than 100,000",NaN,United States of America,NaN,Not working and not looking for work,male,NaN,20,NaN,NaN,high school diploma or equivalent (GED),NaN
42,19.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,NaN,NaN,male,NaN,2,NaN,Data Scientist / Data Engineer,"some college credit, no degree",NaN
43,28.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,education,Employed for wages,male,NaN,15,52000.0,Full-Stack Web Developer,bachelor's degree,NaN
44,24.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,Canada,NaN,Not working but looking for work,male,NaN,NaN,NaN,NaN,high school diploma or equivalent (GED),NaN
45,41.0,No,NaN,NaN,NaN,NaN,NaN,2,"less than 100,000",NaN,United Kingdom,office and administrative support,Employed for wages,male,Yes,10,17000.0,NaN,master's degree (non-professional),NaN
46,47.0,No,NaN,NaN,NaN,NaN,NaN,Yes,more than 1 million,NaN,Italy,sales,Self-employed freelancer,male,Yes,15,20000.0,NaN,high school diploma or equivalent (GED),NaN
47,22.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,Venezuela,NaN,Not working but looking for work,male,NaN,10,NaN,Mobile Developer,high school diploma or equivalent (GED),NaN
48,20.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"less than 100,000",NaN,India,NaN,Doing an unpaid internship,female,NaN,10,NaN,Full-Stack Web Developer,high school diploma or equivalent (GED),NaN
49,20.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,software development,Employed for wages,male,NaN,20,24000.0,Full-Stack Web Developer,high school diploma or equivalent (GED),NaN

In [33]:
# Calculate total number of respondents in survey
total_respondents = len(new_df['AttendedBootcamp'])
total_respondents

15620

In [34]:
# Extract rows corresponding only to people who attended a bootcamp
attended_bootcamp = new_df.loc[new_df['AttendedBootcamp'] == 'Yes']
attended_bootcamp.count()

Age                     818
AttendedBootcamp        953
BootcampFinish          933
BootcampFullJobAfter    635
BootcampLoanYesNo       934
BootcampPostSalary      330
BootcampRecommend       937
ChildrenNumber          148
CityPopulation          823
CodeEventBootcamp        27
CountryLive             825
EmploymentField         476
EmploymentStatus        792
Gender                  833
HasChildren             211
HoursLearning           925
Income                  430
JobRoleInterest         402
SchoolDegree            832
CodeEventBootcamp        27
dtype: int64

In [36]:
# Calculate average age of attendees
average_age = attended_bootcamp["Age"].mean()

# Calculate how many people attended a bootcamp
people_attended = attended_bootcamp["AttendedBootcamp"].count()
# Calculate how many attendees hold degrees
hold_degree = attended_bootcamp["SchoolDegree"].count()
# Count number of attendees who self-identify as male; female; or are of non-binary gender identification
male = attended_bootcamp["Gender"].value_counts()['male']
female = attended_bootcamp["Gender"].value_counts()['female']
total_gender = attended_bootcamp["Gender"].count()
non_binary_gender = total_gender - male - female
# Calculate percentage of respondents who attended a bootcamp
percent_attended = (people_attended / total_respondents) * 100 
# Calculate percentage of respondents belonging to each gender
percent_male = (male / total_gender) * 100
percent_female = (female / total_gender) * 100
percent_non_binary_gender = (non_binary_gender / total_gender) * 100
# Calculate percentage of attendees with a school degree
degree_percent = (hold_degree / people_attended) * 100
# Calculate average post-bootcamp salary
avg_salary = attended_bootcamp["BootcampPostSalary"].mean()
avg_salary

63740.50606060606

In [116]:
# Create a new table consolodating above calculations
bootcamp_new = pd.DataFrame({"Total Surveyed": [total_respondents],
                            "Total Bootcamp Attendees": [people_attended],
                            "% Attended Bootcamp": [percent_attended],
                            "Avg Age": [average_age],
                            "% Male":[percent_male],
                            "% Female": [percent_female],
                            "% Non Gender Specific": [percent_non_binary_gender],
                            "Graduated School": [degree_percent],
                            "Avg Post Bootcamp Salary": [avg_salary] })
bootcamp_new = bootcamp_new.round(2)
bootcamp_new

,Total Surveyed,Total Bootcamp Attendees,% Attended Bootcamp,Avg Age,% Male,% Female,% Non Gender Specific,Graduated School,Avg Post Bootcamp Salary
0,15620,953,6.1,31.07,59.54,39.14,1.32,87.3,63740.51

In [117]:
# Improve formatting before outputting spreadsheet
bootcamp_new["% Male"] = bootcamp_new["% Male"].map("{:.2f}%".format)
bootcamp_new["% Female"] = bootcamp_new["% Female"].map("{:.2f}%".format)
bootcamp_new["% Attended Bootcamp"] = bootcamp_new["% Attended Bootcamp"].map("{:.2f}%".format)
bootcamp_new["% Non Gender Specific"] = bootcamp_new["% Non Gender Specific"].map("{:.2f}%".format)
bootcamp_new["Graduated School"] = bootcamp_new["Graduated School"].map("{:.2f}%".format)
bootcamp_new["Avg Post Bootcamp Salary"] = bootcamp_new["Avg Post Bootcamp Salary"].map("${:.2f}".format)
bootcamp_new

,Total Surveyed,Total Bootcamp Attendees,% Attended Bootcamp,Avg Age,% Male,% Female,% Non Gender Specific,Graduated School,Avg Post Bootcamp Salary
0,15620,953,6.10%,31.07,59.54%,39.14%,1.32%,87.30%,$63740.51

In [118]:
# Export to Excel
bootcamp_new.to_excel("output/Bootcamp1.xlsx", index=False)